<section id="contact">
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-12 col-md-7">
        <h2 class="mb-3 editable">Still want more?</h2>
        <p class="mb-5 editable">
          If you still need more information, visit our full website or give us a call. We&rsquo;ll always be happy to hear from you!
        </p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <div class="cognito">
          <script src="https://www.cognitoforms.com/s/bbN8iw1MJUqjPe6aHn-_rw"></script>
          <script>Cognito.load("forms", { id: "76" });
            Cognito.prefill({ "Website": "{{ page.url | prepend: site.url }}" });
          </script>
          <div class="preloader"></div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-12 col-md-4">
        <a href="{{ site.root_url }}" title="Visit the 4pFoods Website" class="btn btn-info btn-block mb-3" onClick="ga('send', 'event', 'button', 'See Our Website', '{{ page.title }}');">See our website</a>
      </div>
      <!-- <div class="col-12 col-md-4">
        <button type="submit" class="btn btn-info btn-block mb-3" onClick="ga('send', 'event', 'button', 'Submit Form', '{{ page.title }}');">Submit Message</button>
      </div> -->
    </div>
  </div>
</section>