<footer id="page-footer">
  {% include contact.html %}

  <section class="bg-primary bg-image" style="background-image:url(/img/bg-footer.jpg);" onClick="ga('send', 'event', 'imagelink', '4P Logo', '{{ page.title }}');">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <a href="{{ site.root_url }}"><img src="/img/logo-white.svg" alt="{{ site.title }}" class="brand img-fluid" /></a>
        </div>
      </div>
    </div>
  </section>
</footer>