<footer id="page-footer">
  <section>
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-12 col-md-7">
          <h2 class="mb-3 editable">Still want more?</h2>
          <p class="mb-5 editable">
            If you still need more information, visit our full website or give us a call. We&rsquo;ll always be happy to hear from you!
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-md-4">
          <a href="{{ site.root_url }}" title="Visit the 4pFoods Website" class="btn btn-info btn-block mb-3">See our website</a>
        </div>
        <div class="col-12 col-md-4">
          <a href="{{ site.root_url }}/contact" title="Contact 4pFoods" class="btn btn-info btn-block mb-3">Contact Us</a>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-primary bg-image" style="background-image:url(/assets/img/bg-footer.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <a href="{{ site.root_url }}"><img src="/assets/img/logo-white.svg" alt="{{ site.title }}" class="brand img-fluid" /></a>
        </div>
      </div>
    </div>
  </section>
</footer>