<header id="page-header">
  <div class="container">
    <nav id="mainnav" class="navbar navbar-expand-md navbar-light">
      <a class="navbar-brand" href="/" title="{{ site.title }}">
        <img src="/assets/img/logo-wordmark.svg" alt="{{ site.title }}">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#primarynav" aria-controls="primarynav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-md-end" id="primarynav">
        <ul class="nav navbar-nav mx-auto border-top">
          <li class="nav-item"><a href="#how-it-works" class="nav-link" onClick="ga('send', 'event', 'navlink', 'How It Works', '{{ site.gtitle }}');">How it works</a></li>
          <li class="nav-item"><a href="#our-impact" class="nav-link" onClick="ga('send', 'event', 'navlink', 'Our Impact', '{{ page.name }}');">Our Impact</a></li>
          <li class="nav-item"><a href="#contact" class="nav-link" onClick="ga('send', 'event', 'navlink', 'Contact', '{{ page.name }}');">Contact</a></li>
        </ul>
        <ul class="navbar-nav float-md-right mt-4 mt-md-0">
          <li class="nav-item">
            {% if page.primary_cta == "signup" %}
              <a href="{{ site.signup_url }}" class="btn btn-primary" onClick="ga('send', 'event', 'navlink', 'Sign Up', '{{ page.name }}');">Sign-up</a>
            {% else %}
              <a href="#next-step" class="btn btn-primary" onClick="ga('send', 'event', 'navlink', 'Get Started', '{{ page.name }}');">Get Started</a>
            {% endif %}
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
