#page-header {
  .navbar-brand {
    img {
      height: 32px;
      margin: 8px 0;
    }
  }
}

#primarynav {
  .nav-link {
    text-transform: uppercase;
    margin: 0 20px;
    font-family: $headings-font-family;
  }
  .btn {
    font-size: 16px;
  }
}