#page-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $white;
  box-shadow: 0 0 10px rgba($black, 0.2);
  z-index: 99;
  .navbar-brand {
    img {
      height: 32px;
      margin: 8px 0;
    }
  }
  .border-top,
  .border-bottom {
    @include media-breakpoint-up(md) {
      border: 0 !important;
    }
  }
}

#primarynav {
  .nav-link {
    text-transform: uppercase;
    margin: 0 20px;
    font-family: $headings-font-family;
  }
  .btn {
    font-size: 16px;
  }
}