#page-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $white;
  box-shadow: 0 0 5px rgba($black, 0.1);
  z-index: 99;
  .navbar-brand {
    img {
      height: 32px;
      margin: 8px 0;
    }
  }
}

#primarynav {
  .nav-link {
    text-transform: uppercase;
    margin: 0 20px;
    font-family: $headings-font-family;
  }
  .btn {
    font-size: 16px;
  }
}