#overview {
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url('/assets/img/bg-illustrations.png');
  @include media-breakpoint-down(sm) {
    background-image: none;
  }
}