// TODO: Refactor naming convention
.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 0;
  .content {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
    p {
      max-width: 300px;
    }
  }
}

.pinContainer {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.slideContainer {
  height: 100vh;
  width: 200vw;
  display: flex;
}
