---
layout: default
---
<section id="introduction" class="bg-primary">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <h1 class="editable">Healthy, fresh food, direct to your office</h1>
        <div class="editable">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo cum, adipisci fugiat molestiae tempore reprehenderit, neque tempora error, excepturi ullam amet eligendi recusandae. Ullam culpa sit veniam voluptas. Ipsam, nostrum!</p>
          <p>At 4p, everyone looks forward to delivery day!</p>
        </div>
        <p><a href="#contact" calss="btn btn-light text-primary">Learn More</a></p>
      </div>
    </div>
  </div>
</section>

<section id="how-it-works d-none">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <img src="{{ site.placeholder_image }}" alt="" class="img-fluid editable">
        <h3 class="editable">Custom Order Options</h3>
        <p class="editable"></p>
      </div>
      <div class="col-12 col-md-4">
        <img src="{{ site.placeholder_image }}" alt="" class="img-fluid editable">
        <h3 class="editable">Custom Order Options</h3>
        <p class="editable"></p>
      </div>
      <div class="col-12 col-md-4">
        <img src="{{ site.placeholder_image }}" alt="" class="img-fluid editable">
        <h3 class="editable">Custom Order Options</h3>
        <p class="editable"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 border-top">
        <p class="editable"><em>Want to learn more about how 4P works?<br>Checkout our video</em></p>
      </div>
    </div>
  </div>
</section>

<section class="bg-cream d-none">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10">
        <h2 class="editable">Give you employees the gift of health -- for free!</h2>
        <div class="editable">
          <p>As a health...</p>
        </div>
        <p>
          <a href="#contact" class="btn btn-info">Get started</a>
        </p>
      </div>
    </div>
  </div>
</section>

