<div class="container slideNav">
  <nav class="bg-green text-white navbar navbar-expand-md navbar-light">
    <ul class="mx-auto w-100 justify-content-around navbar-nav">
      {% for object in section.slides %}
          {% for s in site.slides %}
          {% assign match = s.path | replace: '_slides/', '' | replace: '.html', '' %}
          {% if object == match %}
          {% assign slide = s %}
          {% endif %}
          {% endfor %}
      <li data-menuanchor="{{ slide.slug }}" class="nav-item">
        <a href="#{{ section.label | slugify }}/{{ slide.slug }}" class="nav-link text-white">{{ slide.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</div>