.cognito {
  .c-forms-form {
    .c-label {
      display: none;
    }

    input,
    textarea {
      padding: 10px;
      border-radius: 0;
      border: 1px solid $gray-400;
    }
    .c-choice-radiobuttons {
      display: flex;
      align-items: center;
      justify-content: center;
      .c-label {
        display: block;
        text-align: center;
        padding-top: 20px;
      }
      .c-editor {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .c-choice-option {
      input {
        margin-right: 5px;
      }
    }
    .c-forms-confirmation-message {
      padding: 50px;
      background-color: $primary;
      color: $white;
      text-align: center;
    }
  }
  .c-button-section {
    .c-action {
      float: none;
    }
    #c-submit-button {
      width: 50%;
      margin: 0 auto;
      display: block;
      float: none;
    }
  }
}

// Preloader behavior for cognito form
.preloader {
  display: none;
  &::before {
    content: '';
    display: block;
    z-index: 1;
    border: 3px solid $white;
    border-top: 3px solid $gray-500;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  }
}

/* Override the default invisibility if the preloader doesn't have a form after it. */
.preloader:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}