body {
  font-size: 19px;
  line-height: 1.5rem;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  @include transition();
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}

.lead {
  font-family: $font-family-base;
  font-size: 1.5rem;
  font-style: italic;
}
