#topnav {
  text-align: center;
  > div {
    width: 100%;
  }
  @include media-breakpoint-up(md) {
    text-align: left;
    > div {
      width: auto;
    }
  }
  a {
    color: $white;
  }
}
#mainnav {
  text-align: center;
  .navbar-brand {
    width: 50px;
  }
  .nav-item {
    margin: 0 1.25rem;
    .nav-link {
      color: darken($secondary, 30%);
      font-size: 1.25rem;
      &:hover {
        color: $dark-green;
      }
    }
  }

  .btn {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.5rem 1.75rem;
    margin: 0;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}

#primarynav {
  flex-direction: row;
  @include media-breakpoint-down(sm) {
    display: none;
  }
  .nav-link {
    font-size: 1.5rem;
    margin: 0 0.75rem;
    text-transform: uppercase;
    font-family: $headings-font-family;
    color: $gray-700;
    @include media-breakpoint-down(md) {
      font-size: 1.15rem;
    }
  }
}

#mobilenav {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25rem;
  line-height: 1.75rem;
  @include media-breakpoint-up(md) {
    display: none;
  }
  .nav-link {
    color: $white;
    @include transition();
    &:hover {
      background-color: darken($secondary, 15%);
    }
  }
  .btn {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.5rem;
  }
}

#footernav {
}
