body {
  font-size: 16px;
  line-height: 1.25rem;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  line-height: 1.3;
  @include transition();
}

h1,
.h1 {
  line-height: 1.25;
  font-weight: 700;
  text-transform: uppercase;
  color: $dark-green;
  @include media-breakpoint-down(md) {
    font-size: 1.5rem;
  }
  @include media-breakpoint-down(sm) {
    font-size: 1rem;
  }
}

h2,
.h2 {
  line-height: 1.25;
  font-weight: 700;
  text-transform: uppercase;
  color: $light-green;

  @include media-breakpoint-down(md) {
    font-size: 1.25rem;
  }
  @include media-breakpoint-down(sm) {
    font-size: 1rem;
  }
}

h3,
.h3 {
  line-height: 1.25;
  font-weight: 300;
  color: $light-green;
  @include media-breakpoint-down(md) {
    font-size: 1.2rem;
  }
  @include media-breakpoint-down(sm) {
    font-size: 1rem;
  }
}

h4,
.h4 {
  line-height: 1.25;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $dark-green;
  @include media-breakpoint-down(md) {
    font-size: 1.1rem;
  }
}

em {
  font-family: $font-family-secondary;
  font-style: italic;
}

i {
  letter-spacing: 0;
}

.lead {
  font-size: 1.85rem;
  line-height: 1.25;
}

p {
  line-height: 1.5rem;
}

strong {
  color: $dark-green;
}

small {
  line-height: 0.1rem;
}

.white {
  color: $white;
}

.blue {
  color: $light-blue;
}
