@keyframes cardSlideIn {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.card {
  // Loop through the cards and delay the loading animation.
  @for $i from 1 through 20 {
    &:nth-child(#{$i}) {
      @include animation(cardSlideIn, 0.8s, 0.1s * $i);
    }
  }
}

@keyframes testing {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

////@at-root

@keyframes hFadeIn {
  0% {
    transform: translateY(45px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes pFadeIn {
  0% {
    transform: translateY(25px);
    // line-height: 2.2rem;
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    // line-height: 2rem;
    opacity: 1;
  }
}

@keyframes imageFadeIn {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slowFadeIn {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.active {
  .h-fade-in {
    @for $i from 1 through 20 {
      &:nth-child(#{$i}) {
        @include animation(hFadeIn, 0.8s, 0.15s * $i);
      }
    }
    // @include animation(hFadeIn, 5, 0.6s);
  }
  .p-fade-in {
    @for $i from 1 through 20 {
      &:nth-child(#{$i}) {
        @include animation(pFadeIn, 0.8s, 0.15s * $i);
      }
    }
    // @include animation(pFadeIn, 0.8s, 0.6s);
  }
  .image-fade-in {
    @for $i from 1 through 20 {
      &:nth-child(#{$i}) {
        @include animation(imageFadeIn, 0.8s, 0.15s * $i);
      }
    }
    // @include animation(imageFadeIn, 0.8s, 1s);
  }
  .slow-fade-in {
    @include animation(slowFadeIn, 0.8s, 1s);
  }
}

@keyframes nothing {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .active {
    .h-fade-in {
      @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
          @include animation(nothing, 0.8s, 0.15s * $i);
        }
      }
      // @include animation(hFadeIn, 5, 0.6s);
    }
    .p-fade-in {
      @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
          @include animation(nothing, 0.8s, 0.15s * $i);
        }
      }
      // @include animation(pFadeIn, 0.8s, 0.6s);
    }
    .image-fade-in {
      @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
          @include animation(nothing, 0.8s, 0.15s * $i);
        }
      }
      // @include animation(imageFadeIn, 0.8s, 1s);
    }
    .slow-fade-in {
      @include animation(nothing, 0.8s, 1s);
    }
  }
}
