%clearfix {
  zoom: 1;
  &::before,
  &::after {
    content: "";
    display: table;
  }

  &::after {
    clear: both;
  }
}

.content {
  position: relative;
  @extend %clearfix;
}

// TODO: REFACTOR

.fill-primary {
  fill: $primary !important;
}

.bg-cream {
  background-color: $cream !important;
}

// TODO: END REFACTOR

// Responsive containers
.container-4x3 {
  height: 0;
  padding-top: 60%;
  width: 100%;
  position: relative;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// Background utlities
.bg-image {
  display: block;
  height: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  &.bg-placeholder {
    background-size: contain;
    background-image: url(https://via.placeholder.com/700x500/000/222?text=placeholder);
  }
  &.aspect-1x1 {
    padding-top: 100%;
  }
  &.aspect-2x1 {
    padding-top: 50%;
  }
  &.aspect-4x3 {
    padding-top: 75%;
  }
  &.aspect-5x7 {
    padding-top: 120%;
  }
  &.aspect-16x9 {
    padding-top: 56.25%;
  }
}

.bg-full {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-half {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-third {
  height: 33vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Text utilities
.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}
.text-underline {
  text-transform: underline !important;
}

.text-mega {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.25;
  @include media-breakpoint-down(md) {
    font-size: 1.75rem;
  }
}

.text-nocase {
  text-transform: none !important;
}

// Layout Utilities
.overflow-hidden {
  overflow: hidden !important;
}

.responsive-card-deck {
  @include make-responsive-cards();
}

.container-map {
  height: 0;
  padding-top: 40%;
  width: 100%;
  position: relative;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.container-video {
  height: 0;
  padding-top: 56.5%;
  width: 100%;
  position: relative;
  cursor: pointer;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    @include transition(1s);
    pointer-events: none;
  }
}

// Arrows/Carets
.arrow {
  &::after,
  &::before {
    content: " ";
    position: absolute;
    left: 96%;
    top: 30%;
    @include media-breakpoint-up(lg) {
      top: 35%;
    }
    border: solid transparent;
    height: 0;
    width: 0;
    pointer-events: none;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  &.arrow-right {
    &::after {
      border-color: rgba($white, 0);
      border-left-color: #ffffff;
      border-width: 30px;
      margin-top: -30px;
    }
    &::before {
      border-color: rgba($gray-700, 0);
      border-left-color: $gray-700;
      border-width: 31px;
      margin-top: -31px;
    }
  }
}

// Sticky behavior
.sticky {
  position: sticky;
  top: 0;
}
