---
layout: target
name: At Home
testimonials:
  - quote: >-
      A fantastic CSA with a great mix of interesting veggies along with regular
      staples. Great quality and value! Plus they suggest recipes every week for
      the shares delivered. The ability to pause a delivery if you're traveling
      is fantastic. So happy we signed up!
    author: Laurie
    source: 4p customer
  - quote: >-
      Great service and excellent selection of local/regional produce, meat and
      dairy. I love the flexibility and it’s delivered right to my door!
      Excellent customer service too!
    author: Penelope
    source: 4P customer
  - quote: >-
      4PFoods is terrific. Learning more about my new home by being introduced
      to products made locally. The customer service is outstanding. Have a
      question . . they are there to assist. Just opened up the Green Acres
      Popcorn and it's out of this world.
    author: Mary
    source: 4P customer
calendly_url:
primary_cta: signup
---

{% contentfor target_overview no-convert %}
<section id="overview" class="bg-primary">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 text-white text-center">
        <h2 class="mb-5 editable">
          Healthy, fresh food<br />Direct to your door
        </h2>
        <div class="mb-5 editable">
          <p>Get delicious, local food, delivered right to your door. 4P makes it easy to keep fresh food on your table, with weekly deliveries straight from local family farms. With our custom order options and more than 200 participating farms, you&rsquo;ll get exactly the food you want, and still save both time and money. Get healthier and happier with convenience and low cost&mdash;all while supporting your local community.</p>
          <p>At 4P, everyone looks forward to delivery day!</p>
        </div>
        <p><a href="#contact" class="btn btn-light text-primary" onClick="ga('send', 'event', 'button', 'Learn More', 'At Home');">Learn More</a></p>
      </div>
    </div>
  </div>
</section>
{% endcontentfor %}

{% contentfor target_howitworks no-convert %}
<section id="how-it-works" class="text-center">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12 col-md-4">
        <div class="m-3 arrow arrow-right">
          <img src="/assets/img/orders.svg" alt="" class="img-fluid mx-4 editable" />
          <h3 class="mt-3 editable">Custom Order Options</h3>
          <p class="editable">
            Produce, dairy, or meat? Feeding a family of 6 or cooking for one? Whatever your preference, we have the right delivery for you.
          </p>    
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="m-3 arrow arrow-right">
          <img src="/assets/img/dropoff.svg" alt="" class="img-fluid mx-4 editable" />
          <h3 class="mt-3 editable">Convenient drop&#8209;off location</h3>
          <p class="editable">
            By scheduling 4P's delivery drop-off right to your door, you&rsquo;ll save yourself both money and time.
          </p>

        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="m-3">
          <img src="/assets/img/food.svg" alt="" class="img-fluid mx-4 editable" />
          <h3 class="mt-3 editable">Farm&#8209;fresh, seasonal food with purpose</h3>
          <p class="editable">
            We work with more than 200 farmers for the best quality and variety. And the more we grow, the more we <a href="#our-impact" title="Our Impact">give</a>.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <hr />
        {% if page.primary_cta == "signup" %}
        <a href="{{ site.signup_url }}" class="btn btn-info mb-5" onClick="ga('send', 'event', 'button', 'Sign Up', 'At Home');">Sign-up</a>
        {% endif %}
        <p class="lead text-muted editable">
          Want to see how 4P works?<br />Watch our <a href="#video" onClick="ga('send', 'event', 'text-link', 'Video', 'At Home');">video</a>.
        </p>
      </div>
    </div>
  </div>
</section>
{% endcontentfor %}

{% contentfor target_scoop no-convert %}
<!--
<section id="scoop" class="bg-cream text-center d-none">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-7">
        <h2 class="mb-5 editable">
          Live in an apartment building?
        </h2>
        <div class="mb-5 editable">
          <p>Take a look at our extensive list of drop-off locations to see if your building is already a partner. If they&rsquo;re not, let them know them they should be!</p>
        </div>
      </div>
    </div>
  </div>

</section>
-->

<!-- 
  <section class="py-0">
  <div class="container-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d94011.52669156002!2d-77.08041227465681!3d38.89262586644105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7c6de5af6e45b%3A0xc2524522d4885d2a!2sWashington%2C+DC%2C+USA!5e0!3m2!1sen!2sca!4v1539197503685" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</section> 
-->
{% endcontentfor %}

{% contentfor target_credibility no-convert %}
<section id="credibility" class="text-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <h2 class="mb-3 editable">
          Take a look at some of our recent deliveries.
        </h2>
        <div class="editable">
          <p>Year-round, 4P delivers healthy, sustainable, seasonal food from local family farms. This means you&rsquo;re getting the freshest produce, meat, and dairy products on any given day&mdash;all grown and harvested in the most responsible, sustainable way possible.</p>
        </div>
      </div>
    </div>
    {% include target/feed.html %}

  </div>
</section>
{% endcontentfor %}

{% contentfor target_next_step no-convert %}
<section id="next-step" class="bg-cream">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 text-center">
        <h2 class="mb-3 editable">
          Try us today&mdash;completely commitment free
        </h2>
        <div class="mb-5 editable">
          <p>Give 4P a chance today, and we&rsquo;ll give you a $10 discount on your first bag (use discount code: Direct2Door). No long-term commitment&mdash;you can skip any delivery or cancel at any time. To sign up, just visit our website or contact us directly at&nbsp;<a href="mailto:info@4pfoods.com">info@4pfoods.com</a> or 703.732.6664.</p>
        </div>
        <p><a href="{{ site.signup_url }}" class="btn btn-info" onClick="ga('send', 'event', 'button', 'Sign Up Who Else', 'At Home');">Sign-up</a></p>
      </div>
    </div>
    {% if target.calendly_url %}
    <div class="row justify-content-center">
      <div class="col-12 text-center">  
        <div class="calendly-inline-widget" data-url="{{ page.calendly_url }}" style="min-width:320px;height:580px;filter: hue-rotate(236deg) saturate(1.4);"></div>
        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
      </div>
    </div>
    {% endif %}
  </div>
</section>
{% endcontentfor %}