#tech-platform-timeline {
  width: 2040px;
  height: auto;
}

.dot {
  margin-top: 50%;
  height: 100px;
  width: 100px;
  background-color: $light-green;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  h2 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
}

.blue-bg {
  background-color: $light-blue;
}
