// Color Palette
$white: #ffffff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000000 !default;

$blue: #25b0e8;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #f5c938;
$green: #5fb35f;
$teal: #20c997 !default;
$cyan: #7dd0e8 !default;

$cream: #f8f6ee;

$light-green: #60b460;
$dark-green: #265c35;
$light-tan: #f8f6ee;
$tan: #efebe5;
$dark-tan: #f2f0e7;
$dark-grey: #58595c;
$light-grey: #a7a9ac;
$light-blue: #96d6d8;

$primary: $green;
$secondary: $dark-green;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100;
$dark: $gray-700;

$theme-colors: (
  "primary": $light-green,
  "secondary": $dark-green,
  "success": $green,
  "info": $tan,
  "warning": $yellow,
  "danger": $red,
  "light": $gray-300,
  "dark": $gray-800,
  "dark-green": $dark-green,
  "light-green": $light-green,
  "tan": $tan,
  "dark-tan": $dark-tan,
  "light-tan": $light-tan,
  "notice": $teal,
  "green": $green
);

$body-bg: $white;
$body-color: $dark;

$font-family-base: "Montserrat", sans-serif;
$font-family-secondary: "Spectral", serif;

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: ($font-size-base * 1.25) !default;
$font-size-sm: ($font-size-base * 0.875) !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;

$h1-font-size: 2.5rem;
$h2-font-size: 1.8rem;
$h3-font-size: 1.8rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1.1rem;
$h6-font-size: 1rem;

$headings-font-family: inherit;
$headings-font-weight: 400;
$headings-line-height: 1;
$headings-color: inherit;

$border-radius: 0;
$modal-content-border-radius: $border-radius;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

$grid-columns: 12;
$grid-gutter-width: 30px;
