---
---

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap");

@import "presentation/settings";
@import "vendor/bootstrap/scss/bootstrap";

// Global
@import "presentation/global/mixins";
@import "presentation/global/utilities";
@import "presentation/global/base";
@import "presentation/global/layout";
@import "presentation/global/nav";
@import "presentation/global/typography";
@import "presentation/global/animations";
@import "presentation/global/tables";
@import "presentation/global/scrollable";
@import "presentation/global/responsive";

// Components

// Vendor Overrides
@import "presentation/vendor/bootstrap";
@import "presentation/vendor/fullpage";

// Pages
@import "presentation/pages/presentation";

@import "presentation/pages/global";
@import "presentation/pages/techPlatform";
@import "presentation/pages/impact";
@import "presentation/pages/milestones";
@import "presentation/pages/profiles";
@import "presentation/pages/farmers";
