// TODO: Nate - This should be moved to the global SASS partials folder.
img {
  max-height: 700px;
}

.offset {
  margin-bottom: 50px;
}

@media (max-width: 1200px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media (max-width: 768px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 100px;
    padding-top: 100px;
    overflow: scroll;
  }
  .slideNav {
    display: none !important;
  }
}

@media (max-width: 700px) {
  h1,
  h2,
  h3 {
    text-align: center;
  }
  .icon {
    max-width: 100px;
  }
  .logo {
    max-width: 150px;
  }
}
