.presentation-wrapper {
  background-color: $light-tan;
  .section {
    width: 100vw;
    min-height: 100vh;
    background-color: $dark-tan;
    .container {
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }

  .slide {
    width: 100vw;
    min-height: 100vh;
    background-color: $dark-tan;
    .container {
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }

  section,
  .container {
    @include transition(0.5s);
  }

  .presentationNav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    padding: 0;
    background-color: $primary;
    color: $white;
    text-align: center;
    z-index: 999;
    box-shadow: 0 0 3px rgba($black, 0.3);
    @include transition(1s);
    .brand {
      margin-bottom: 1rem;
      img {
        width: 80px;
      }
    }
    &.hide {
      opacity: 0;
      left: -260px;
      background-color: $dark-green;
      pointer-events: none;
      // span.indicator {
      //   opacity: 1;
      //   @include transition(0.3s);
      // }
    }
    ul {
      padding: 0;
      margin: 2rem auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      list-style: none;
      height: calc(100vh - 4rem);
      li {
        a {
          position: relative;
          display: block;
          padding: 0.5rem 2.5rem;
          font-size: 1rem;
          font-weight: 700;
          color: rgba($white, 0.7);
          opacity: 0.6;
          &:hover {
            text-decoration: none;
            color: rgba($white, 1);
            opacity: 1;
            span.indicator {
              width: 8px;
              height: 8px;
              right: 14px;
            }
          }
          span.indicator {
            border-radius: 50%;
            position: absolute;
            z-index: 1;
            height: 4px;
            width: 4px;
            border: 0;
            background: rgba($white, 0.7);
            right: 16px;
            top: 50%;
            margin: -2px 0 0 -2px;
            opacity: 0;
          }
        }
        &.active {
          a {
            color: rgba($white, 1);
            opacity: 1;
            span.indicator {
              width: 12px;
              height: 12px;
              right: 12px;
            }
          }
        }
      }
    }
  }

  .menuToggle {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    appearance: none;
    width: 300px;
    height: 30px;
    border: 0;
    background-color: transparent;
    color: $white;
    text-align: left;
    cursor: pointer;
    @include transition(1s);
    &:focus {
      outline: none;
    }
    &.collapsed {
      width: 40px;
      text-align: center;
      // background-color: $dark-green;
    }
  }

  .slideNav {
    position: absolute;
    width: 100%;
    bottom: 20px;
    z-index: 9;
    border-radius: 50px;
    @include transition(1s);
    .navbar-light {
      .navbar-nav {
        .nav-link {
          font-size: 0.8rem;
          font-weight: 700;
          color: $dark-green;
          opacity: 0.6;
          @include transition();
          &:hover {
            opacity: 1;
            text-decoration: none;
          }
          &.active {
            opacity: 1 !important;
          }
        }
        &.active {
          .nav-link {
            opacity: 1 !important;
          }
        }
      }
    }
  }

  &.nav-show {
    section {
      .fp-tableCell {
        padding-left: 320px;
        @include transition(1s);
      }
      .container {
        width: calc(100vw - 320px);
        padding: 0 150px;
        @include transition(1s);
        &.slideNav {
          left: 320px;
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    #presentationNav {
      display: none;
      left: -260px;
      background-color: $dark-green;
      span.indicator {
        opacity: 1;
        @include transition(0.3s);
      }
    }
    &.nav-show {
      section {
        .fp-tableCell {
          padding-left: 0;
        }
        .container {
          width: calc(100vw);
          // padding: 0 20px;
          &.slideNav {
            left: 0;
          }
        }
      }
    }
  }

  @include media-breakpoint-down(lg) {
    .container {
      padding: 0 75px !important;
    }
  }

  @include media-breakpoint-down(md) {
    .container {
      padding: 0 50px !important;
    }
  }
}

// Individual Elements
.callout-up {
  padding: 20px;
  background-color: $dark-tan;
  border-radius: 5px;
  margin-top: -20px;
}

.callout-down {
  padding: 20px;
  background-color: $dark-tan;
  border-radius: 5px;
  margin-top: 20px;
}

// Milestones
.dark-green-bg {
  background-color: $dark-green;
}

.grey-bg {
  background-color: $dark-grey;
}

#milestone-timeline {
  width: 3060px;
  height: auto;
}

#farmers-timeline {
  width: 1700px;
  height: auto;
}

.profile-pic {
  max-width: 200px;
}

#team-timeline {
  width: 1285px;
  height: auto;
}

.fp-enabled .modal {
  position: fixed !important;
  z-index: 99999;
}

#tech-platform-timeline {
  width: 2040px;
  height: auto;
}

.dot {
  margin-top: 50%;
  height: 100px;
  width: 100px;
  background-color: $light-green;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  h2 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
}

.blue-bg {
  background-color: $light-blue;
}
