body {
  font-size: 16px;
  line-height: 1.25rem;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
.h1 {
  font-weight: 700;
  color: $dark-green;
  margin-bottom: 1.5rem;
  @include media-breakpoint-down(md) {
    // font-size: 1.5rem;
  }
  @include media-breakpoint-down(sm) {
    // font-size: 1rem;
  }
}

h2,
.h2 {
  font-weight: 700;
  color: $light-green;
  @include media-breakpoint-down(md) {
    // font-size: 1.25rem;
  }
  @include media-breakpoint-down(sm) {
    // font-size: 1rem;
  }
}

h3,
.h3 {
  font-weight: 300;
  color: $light-green;
  @include media-breakpoint-down(md) {
    // font-size: 1.2rem;
  }
  @include media-breakpoint-down(sm) {
    // font-size: 1rem;
  }
}

h4,
.h4 {
  font-weight: 700;
  line-height: 1.2;
  @include media-breakpoint-down(md) {
    // font-size: 1.2rem;
  }
  @include media-breakpoint-down(sm) {
    // font-size: 1rem;
  }
}

em {
  font-family: $font-family-secondary;
  font-style: italic;
}

i {
  letter-spacing: 0;
}

.lead {
  font-size: 1.85rem;
  line-height: 1.25;
}

p {
  line-height: 1.5rem;
}

strong {
  color: $dark-green;
}

